snippet he "python header file"
# -*- coding: utf-8 -*-

"""
@Description: ${1:🐈}
@Author: ${2:AlexRainHao<yuanyuhaoyyh@gmail.com>}
@Copyright `date +%Y` - `date +%Y`
@Date: `date +%Y-%m-%d\ %H:%M:%S`
@Version: ${3:__Dev__}
"""
$0
endsnippet

